<style>
.modal-open {
    overflow: hidden
}

.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0
}

.modal.fade .modal-dialog {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0)
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto
}

.modal-dialog {
    width: auto;
    margin: 10px
}

.modal-content {
    position: relative;
    background-color: #fff;
    border-radius: 6px;
	padding: 15px 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    outline: 0
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000
}

.modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0)
}

.modal-backdrop.in {
    opacity: .5;
    filter: alpha(opacity=50)
}

.modal-header-wt {
    padding: 15px;
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: 500;
	color: #444;
	margin-top: 0;
	margin-bottom: 15px;
	line-height: 1.15;
}

.modal-header-wt .close {
    margin-top: -2px
}

.modal-title {
    margin: 0;
    line-height: 1.42857143
}

.modal-body {
    position: relative;
    padding: 15px
}

.modal-footer-wt {
    padding: 15px;
}

.modal-footer-wt .btn+.btn {
    margin-left: 5px;
    margin-bottom: 0
}

.modal-footer-wt .btn-group .btn+.btn {
    margin-left: -1px
}

.modal-footer-wt .btn-block+.btn-block {
    margin-left: 0
}

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll
}

@media (min-width:768px) {
    .modal-dialog {
        width: 400px;
        margin: 90px auto
    }
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5)
    }
    .modal-sm {
        width: 300px
    }
}

@media (min-width:992px) {
    .modal-lg {
        width: 900px
    }
}

.clearfix:before,
.clearfix:after,
.modal-header-wt:before,
.modal-header-wt:after,
.modal-footer-wt:before,
.modal-footer-wt:after {
    content: " ";
    display: table
}

.clearfix:after,
.modal-header-wt:after,
.modal-footer-wt-wt:after {
    clear: both
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.pull-right {
    float: right !important
}

.pull-left {
    float: left !important
}

.hide {
    display: none !important
}

.show {
    display: block !important
}

.invisible {
    visibility: hidden
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0
}

.hidden {
    display: none !important
}

.affix {
    position: fixed
}
.btn-wt {
	color: #FFF !important;
    background: #1ABB9C;
    padding: 11px 20px 13px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.02em;
    text-shadow: none;
    -webkit-font-smoothing: antialiased;
    border: none;
    text-transform: uppercase;
    -webkit-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,0.15);
    -moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,0.15);
    box-shadow: inset 0 -2px 0 rgba(0,0,0,0.15);
}

.btn-wt:hover, .btn-wt:focus, .btn-wt:active, .btn-wt.active {
	cursor: pointer;
    background: #17A78B;
    color: #FFF !important;
    -webkit-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,0.15);
    -moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,0.15);
    box-shadow: inset 0 -2px 0 rgba(0,0,0,0.15);
}

.wt-copy {
	font-size: 12px;
	color: #ababab;
	font-family: 'Roboto', Arial, sans-serif;
	position: relative;
	padding: 10px;
}

.wt-copy > a {
	color: #ababab;
}
</style>

<div class="modal fade" id="webtelWidget" role="dialog">
    <div class="modal-dialog" align="center">
        <div class="modal-content">
            <div class="modal-header-wt">
                <p style="font-size: 20px;" id="wt_content"></p>
            </div>
            <div class="modal-footer-wt" style="padding: 0">
                <button id="wt_call" type="button" class="btn-wt btn-default btn-default">ДА</button>
                <button id="wt_no" type="button" class="btn-wt btn-default btn-default">НЕТ</button>
	            <div class="wt-copy">Предоставленно <a target="_blank" href="http://web-tel.ru">web-tel.ru</a></div>
            </div>
        </div>
    </div>
</div>