{% extends 'main_layout.html' %}

{% block title %}
	Вход
{% endblock %}

{% block resources %}
	{% load staticfiles %}
	<script type="text/javascript" src="{% static "auth-controller.js" %}"></script>
	<script type="text/javascript" src="{% static "models/auth-model.js" %}"></script>
	<script type="text/javascript" src="{% static "models/new-profile-request-model.js" %}"></script>
{% endblock %}

{% block content %}
	<div class="auth-container" align="center">
		<div class="auth-block" >
			<h2>Добро пожаловать на <a href="/">web-tel</a></h2>
			<h3>Войдите в профиль используя логин и пароль</h3>
		</div>
		<div class="auth-block">
			<div class="auth-group">
				<form class="form-horizontal" >
					{% csrf_token %}
					<input type="hidden" id="redirect_url" name="redirect_url" value="{{ redirect_url }}">
					<div class="form-group">
						<input class="form-control input-lg" id="username" name="username" type="text" placeholder="Логин" autofocus required>
					</div>
					<div class="form-group">
						<input class="form-control input-lg" id="password" name="password" type="password" placeholder="Пароль" required>
					</div>
					<div class="form-group">
						<button type="button" onclick="auth.login(event)" class="btn btn-primary btn-lg pull-right auth-submit-btn">Войти</button>
					</div>
				</form>
			</div>
		</div>
		<div id="profile-request-container">
			<div class="auth-block">
				<h3>или отправте нам заявку на создание профиля</h3>
			</div>
			<div class="auth-block">
				<div class="auth-group">
					<form class="form-horizontal">
						{% csrf_token %}
						<div class="form-group">
							<input class="form-control input-lg" id="email" name="email" type="text" placeholder="E-mail" required>
						</div>
						<div class="form-group">
							<input class="form-control input-lg" id="login" name="login" type="text" placeholder="Желаемый логин">
						</div>
						<div class="form-group">
							<button type="button" onclick="auth.newProfileRequest(event)" class="btn btn-primary btn-lg pull-right auth-submit-btn">Отправить</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}