<div class="row">
	<div class="col-lg-5 col-md-9 cb-container">
		<form method="post" target="_blank" action="https://money.yandex.ru/eshop.xml">
			<input type="hidden" name="scid" value="{{ payment_data.scid }}" />
			<input type="hidden" name="ShopID" value="{{ payment_data.shop_id }}" />
			<input type="hidden" name="CustomerNumber" value="{{ payment_data.customer_number }}" />
			<div class="form-group">
				<label class="control-label">Сумма</label>
				<input type="text" name="Sum" value="{{ payment_data.sum }}" ng-model="vm.data.sum" class="form-control">
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary margin-0">Оплатить</button>
			</div>
		</form>
	</div>
</div>