<div class="page-container" ng-controller="UiViewCtrl">
	<div class="sidebar-menu" ng-class="{'tight': sidebar.isCollapsed}">
		<header>
			<div class="logo">
				<a href="/"><img width="40" src="/static/content/images/logo-new.png"></a>
			</div>
		</header>
		<section>
			<span ng-if="sidebar.isCollapsed" class="icon-user"></span>
			<span ng-if="!sidebar.isCollapsed">Здравствуйте, {{ user.username }}</span>
		</section>
		<sidebar-menu>
			<ul class="main-menu">
				<li>
					<a ui-sref="my.st" ng-class="{'active': sidebar.menuItems[0].isActive }"><i class="icon-stats-bars"></i><span ng-if="!sidebar.isCollapsed">Статистика</span></a>
				</li>
				<li>
					<a ui-sref="my.cst" ng-class="{'active': sidebar.menuItems[1].isActive }"><i class="icon-coin-dollar"></i><span ng-if="!sidebar.isCollapsed">Узнать стоимость</span></a>
				</li>
				<li>
					<a ui-sref="my.clb" ng-class="{'active': sidebar.menuItems[2].isActive }"><i class="icon-phone"></i><span ng-if="!sidebar.isCollapsed">Обратный звонок</span></a>
				</li>
				<li>
					<a ui-sref="my.gscpt" ng-class="{'active': sidebar.menuItems[3].isActive }"><i class="icon-embed2"></i><span ng-if="!sidebar.isCollapsed">Получить скрипт</span></a>
				</li>
				<li class="bottom">
					<a href="" ng-click="sidebar.toggle()" ng-class="{'active': sidebar.menuItems[3].isActive }"><i ng-class="{'icon-arrow-left2': !sidebar.isCollapsed, 'icon-arrow-right2': sidebar.isCollapsed}"></i><span ng-if="!sidebar.isCollapsed">Спрятать меню</span></a>
				</li>
			</ul>
		</sidebar-menu>
	</div>
	<div class="main-content">
		<nav class="navbar user-info-navbar fixed" role="navigation">
			{% load subscr_state_tags %}
			<ul class="user-info-menu right-links list-inline list-unstyled nav navbar-nav">
{#				{% profile_info_phone 'text-grey-wt' '/#/sf/' 'my.sf' %}#}
				{% profile_info_cash 'text-grey-wt' '/#/blc/' 'my.blc' %}
				<li class="text-grey-wt"><a href="/auth/logout/">Выход</a></li>
			</ul>
		</nav>
		<div class="main-content-view" ui-view>

		</div>
	</div>
</div>