/*redefined bootstrap glyphicons path*/
@font-face {
    font-family: 'Glyphicons Halflings 1' !important;
    src: url('../fonts/glyphicons-halflings-regular.eot') !important;
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg') !important;
}

html, body {
    height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 80px;
}

a {
    color: #202020;
    cursor: pointer;
}

a.producer {
    color: #777777;
}

a:hover, a:focus {
    color: #2E6DA4;
    text-decoration: none;
}

.container.body {
    padding: 15px;
    height: auto;
    min-height: 100%;
}

.footer {
    padding-top: 30px;
    padding-bottom: 30px;
}

footer {
    background-color: #F8F8F8;
    border-top: 1px solid #E7E7E7;
    bottom: 0;
    width: 100%;
    color: #ABABAB;
    font-size: 12px;
}

footer a {
    color: inherit;
}

footer a:hover, footer a:focus {
    color: #3892d5;
}

.field-search {
    width: 45px !important;
    transition: width 0.6s;
    -webkit-transition: width 0.6s;
    padding-left: 35px;
}

.field-search:focus {
    width: 250px !important;
}

.right-inner-addon {
    position: relative;
}

.right-inner-addon i {
    position: absolute;
    left: 0;
    padding: 9px 12px 10px 12px;
    pointer-events: none;
}

.product-list-item {
    padding: 10px;
    border: 1px solid #E7E7E7;
    border-radius: 5px;
    margin: 5px;
}

.product-list-item:hover {

}

.product-list-item-image {
    margin-bottom: 10px;
}

.price {
    color: #C32F00;
}

.product-list-item-price {
    margin: 0;
}

.producer-name {
    font-family: Verdana;
    font-size: 12px;
    margin-bottom: 5px;
}

.product-list-item-title {
    font-weight: bold;
    margin: 0;
}

.rating > div {
    display: inline-block;
    border-radius: 15px;
    background: #E7E7E7;
    width: 13px;
    height: 13px;
    margin-right: 3px;
}

.rated {
    background-color: #F5C98C !important;
}

.product-info-title {
    font-size: 24px;
    margin: 0;
}

.product-info-description {
    text-align: justify;
}

.btn-add-to-cart {
    color: #5BC0DE;
    background-color: #fff;
    border-color: #46B8DA;
    margin: 10px 0;
    width: 124px;
}

.btn-add-to-cart:hover, .btn-add-to-cart:focus {
    color: #FFF;
    background-color: #5BC0DE;
    border-color: #46B8DA;
}

.product-info-price {
    font-weight: bold;
    font-size: 20px;
}

.product-manage-group-container {
    min-height: 240px;
    display:table;
    height: 240px;
}

.product-manage-group-content{
    display:table-cell;
    vertical-align:middle;
}

.form-group {
    margin: 15px !important;
}

.auth-group {
    width: 50%;
    min-width: 280px;
    padding: 30px 0;
}

.auth-block {
    background-color: #F8F8F8;
    border: 1px solid #E7E7E7;
    padding: 15px;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s: 0.5;
    margin-top: 15px;
}

.auth-block:hover {
    opacity: 1 !important;
}

.auth-submit-btn {
    margin-top: 15px;
}

.error {
    border-color: #C84442;
}

.error-text {
    color: #C84442;
}

.error-box {
    /*background-color: #C84442;;*/
    /*border-radius: 5px;*/
    /*margin: 5px;*/
    /*font-size: 12px;*/
    /*align-content: center;*/
    /*opacity: 0.6;*/
}

.vis-hidden {
    visibility: hidden;
}

.glyphicon-right {
    padding: 0 5px;
}

.pointer {
    cursor: pointer !important;
}

.toggle-container {
    display: table;
}

.toggle-container > div {
    display: table-cell;
    vertical-align: middle;
}

.hr-sm {
    margin: 5px 0;
}

.nz-toggle-wrap {
    margin-top: 7px !important;
    margin-right: 10px !important;
}

.modal-dialog {
    min-width: 700px;
}

.period-label {
    margin-left: 7px;
}

.period-container {
    margin: 5px 0;
}

.modal-header, .modal-footer {
    border: none;
}

/*td[id^="datepicker"] > button {*/
    /*border: none;*/
/*}*/

table[aria-activedescendant^="datepicker"] button {
    border: none;
    box-shadow: none;
}

table[aria-activedescendant^="datepicker"] button[disabled] {
    opacity: 0.25;
}

table[aria-activedescendant^="datepicker"] button.active {
    background-color: #7AA8D0;
    box-shadow: none;
}

table[aria-activedescendant^="datepicker"] button.active:focus, table[aria-activedescendant^="datepicker"] button.active:hover {
    background-color: #286090;
}

div#filters {
    position: relative;
    background-color: white;
    top: 0;
    z-index: 1000;
    padding-top: 10px;
}

thead#table-head {
    position: relative;
    top: 0;
    z-index: 1000;
}

.loader {
    margin: 20px;
}

.datepicker-input {
    border: none;
    box-shadow: none;
    font-size: 14px;
    padding-left: 0;
    padding-right: 0;
    color: transparent;
    display: inline-block;
    text-shadow: 0 0 0 black;
    font-weight: bold;
}

.datepicker-input:hover, .datepicker-input:focus {
    text-shadow: 0 0 0 #3892d5;
    box-shadow: none;
    outline: none;
}

.datepicker-input-group-addon {
    display: table-cell;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    min-width: 16px;
    padding: 4px 3px;
    width: auto;
}

.input-daterange.input-group {
    display: inline-flex !important;
    width: 75px !important;
}

.col-sm-8:last-child {
    padding-right: 0;
}

table th:hover {
    cursor: pointer;
    color: #3892d5;
}

.table-sort {
    padding-left: 20px !important;
}

.table-sort-asc {
    background: url("/static/content/images/icon-chevron-down.png") no-repeat center left;
}

.table-sort-asc:hover {
    background: url("/static/content/images/icon-chevron-down-hover.png") no-repeat center left;
}

.table-sort-desc {
    background: url("/static/content/images/icon-chevron-up.png") no-repeat center left;
}

.table-sort-desc:hover {
    background: url("/static/content/images/icon-chevron-up-hover.png") no-repeat center left;
}