<table class="table table-striped table-hover tablesorter" id="callsTable">
    <thead>
        <tr>
            <th><span class="glyphicon glyphicon-option-vertical"></span></th>
            <th>Состояние</th>
            <th>Дата</th>
            <th>Номер </th>
            <th>Описание</th>
            <th>Sip</th>
            <th>Время звонка</th>
            <th>Стоимость минуты</th>
            <th>Оплачено</th>
        </tr>
    </thead>
    <tbody>
    {% load t_fs_filter %}
    {% load call_state_filter %}
    {% if not calls %}
	    <tr>
		    <td colspan="9" align="center">Нет данных</td>
	    </tr>
    {% else %}
	    {% for call in calls %}
	        <tr>
	            <td>{{ forloop.revcounter }}</td>
	            <td>{{ call.disposition|call_state_localize }}</td>
{#	            <td>#}
{#	                <span class="glyphicon {% if call.status %} glyphicon-earphone {% endif %} pointer"></span>#}
{#	            </td>#}
	            <td>{{ call.date|date:'d.m.Y H.i.s' }}</td>
	            <td>{{ call.destination }}</td>
	            <td>{{ call.description }}</td>
	            <td>{{ call.sip }}</td>
	            <td>{{ call.bill_seconds|t_fs }}</td>
		        <td>{{ call.cost }}</td>
		        <td>{{ call.bill_cost }}</td>
{#	            <td>#}
{#	                <button class="btn btn-default btn-xs" onclick="audio.action(event)" data-record-id="{{ call.recordId }}"><span class="glyphicon glyphicon-play"></span></button>#}
{#	                <button onclick="audio.download(event)" data-record-id="{{ call.recordId }}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-download-alt"></span></button>#}
{#	            </td>#}
	        </tr>
	    {% endfor %}
    {% endif %}
    </tbody>
</table>