<table class="table table-striped table-hover tablesorter" id="callsTable">
    <thead>
        <tr>
            <th align="center"></th>
	        <th>Дата</th>
            <th></th>
	        <th>Номер звонящего</th>
            <th>Описание</th>
	        <th>Номер ответа</th>
	        <th>Время звонка</th>
	        <th>Цена минуты</th>
            <th>Стоимость</th>
	        <th>Запись</th>
        </tr>
    </thead>
    <tbody>
    {% load t_fs_filter %}
    {% load call_state_filter %}
    {% if not calls %}
	    <tr>
		    <td colspan="9" align="center">Нет данных</td>
	    </tr>
    {% else %}
	    {% for call in calls %}
	        <tr>
	            <td>{{ forloop.revcounter }}</td>
		        <td>{{ call.date|date:'d.m.Y H.i.s' }}</td>
	            <td><span class="icon-{% if call.is_answered %}phone{% else %}blocked{% endif %}" tooltip data-toggle="tooltip" data-placement="bottom" title="{{ call.disposition|call_state_localize }}"></span></td>
		        <td>{{ call.sip }}</td>
	            <td>{{ call.description }}</td>
                <td>{% if call.is_answered %}{{ call.destination }}{% else %}-{% endif %}</td>
	            <td>{% if call.is_answered %}{{ call.bill_seconds|t_fs }}{% else %}-{% endif %}</td>
		        <td>{% if call.is_answered %}{{ call.cost }}{% else %}-{% endif %}</td>
		        <td>{% if call.is_answered %}{{ call.bill_cost }}{% else %}-{% endif %}</td>
	            <td>
		            {% if call.is_answered %}
			            <span>
		                    <button class="btn-xs-custom btn btn-default" data-record-id="{{ call.call_id }}"><span class="icon-play"></span></button>
		                    <button class="btn-xs-custom btn btn-default" data-record-id="{{ call.call_id }}"><span class="icon-download"></span></button>
		                </span>
		            {% else %}
			            -
		            {% endif %}
	            </td>
	        </tr>
	    {% endfor %}
    {% endif %}
    </tbody>
</table>