{% extends 'main_layout.html' %}

{% block resources %}
	{% load staticfiles %}
	<script type="text/javascript" src="{% static "angular-1.4.3.min.js" %}"></script>
	<script type="text/javascript" src="{% static "controllers.js" %}"></script>
	<script type="text/javascript" src="{% static "factories.js" %}"></script>
    <script type="text/javascript" src="{% static "filters.js" %}"></script>
	<script type="text/javascript" src="{% static "directives.js" %}"></script>
	<script type="text/javascript" src="{% static "nz-toggle.js" %}"></script>
	<script type="text/javascript" src="{% static "ui-bootstrap-tpls-0.13.2.min.js" %}"></script>
	<script type="text/javascript" src="{% static "angular-locale_ru-ru.js" %}"></script>
	<script type="text/javascript" src="{% static "angular.audio.js" %}"></script>
	<script type="text/javascript" src="{% static "main-module.js" %}"></script>
	<script type="text/javascript" src="{% static "converter.js" %}"></script>

	<link rel="stylesheet" type="text/css" href="{% static "nz-toggle.css" %}">
{% endblock %}

{% block title %}
    Звонки
{% endblock %}

{% block content %}
	{% load ng_filter %}
    <input id="user_code" type="hidden" value="{{ user.userprofile.user_code }}">
    <input id="schema_code" type="hidden" value="{{ user.userprofile.schema.schema_code }}">
	<div ng-app="mainApp" ng-controller="ctrl" ng-cloak>
        <div class="row">
            <div class="col-sm-6">
                <div class="period-container">
                    <button class="btn btn-default btn-sm" ng-click="showPeriodModal()" tooltip-placement="bottom" tooltip="Выбрать период"><span class="glyphicon glyphicon-calendar"></span></button>
                    <span class="period-label">Показать данные за <b>{{ 'periodLabeltext' | ng }}</b></span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="toggle-container">
                            <div>
                                <nz-toggle tri-toggle on-toggle="filters.onIncomingFilterChange()" ng-model="filters.params.incoming"></nz-toggle>
                            </div>
                            <div>
                                <span>{{ 'filters.params.incoming ? "Только входящие" : filters.params.incoming == null ? "Входящие и исходящие" : "Только исходящие"' | ng }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="toggle-container">
                            <div>
                                <nz-toggle tri-toggle on-toggle="filters.onStatusFilterChange()" ng-model="filters.params.status"></nz-toggle>
                            </div>
                            <div>
                                <span>{{ 'filters.params.status ? "Только принятые" : filters.params.status == null ? "Принятые и пропущенные" : "Только пропущенные"' | ng }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="hr-sm">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th sorting="time">Время</th>
                    <th sorting="from">Номер</th>
                    <th sorting="responder">Кто ответил</th>
                    <th sorting="callTime">Время звонка</th>
                    <th sorting="talkTime">Время разговора</th>
                    <th>Запись</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="call in calls | orderBy: order.parameter: order.reverse track by $index">
	                <td>{{ '$index + 1' | ng }}</td>
	                <td>
	                    <span class="glyphicon glyphicon-arrow-down pointer" ng-if="call.incoming" ng-click="filters.changeIncomingFilter(true)" tooltip-placement="bottom" tooltip="{{ 'call.incoming | callType: true' | ng }}"></span>
	                    <span class="glyphicon glyphicon-arrow-up pointer" ng-if="!call.incoming" ng-click="filters.changeIncomingFilter(false)" tooltip-placement="bottom" tooltip="{{ 'call.incoming | callType: true' | ng }}"></span>
                    </td>
	                <td>
	                    <span class="glyphicon glyphicon-earphone" ng-show="call.status" tooltip-placement="bottom" tooltip="Отвечен"></span>
                    </td>
	                <td>{{ 'call.time | date: "dd.MM.yyyy HH:mm:ss" : "+0"' | ng }}</td>
	                <td>{{ 'call.from' | ng }}</td>
	                <td>{{ 'call.responder' | ng }}</td>
	                <td>{{ 'call.callTime | fromSeconds' | ng }}</td>
	                <td>{{ 'call.talkTime | fromSeconds' | ng }}</td>
	                <td>
	                    <button class="btn btn-default btn-xs" ng-click="call.record.playing ? record(call.record.id).pause() : record(call.record.id).play()"><span class="glyphicon" ng-class="{'glyphicon-play': !call.record.playing, 'glyphicon-pause': call.record.playing}"></span></button>
	                    <button class="btn btn-default btn-xs" ng-click="record(call.record.id).getRecord()"><span class="glyphicon glyphicon-download-alt"></span></button>
                    </td>
                </tr>
            </tbody>
        </table>
	</div>
{% endblock %}