<div style="top: 113px; left: 141px;" class="popover ng-isolate-scope top fade in">
  <div class="arrow"></div>

  <div class="popover-inner">
      <!-- ngIf: title --><h3 style="" class="popover-title ng-binding ng-scope" ng-bind="title" ng-if="title">Title</h3><!-- end ngIf: title -->
      <div class="popover-content"><div style="" class="ng-binding ng-scope">Hello, World!</div>
        <div class="form-group ng-scope">
          <label>Popup Title:</label>
          <input style="" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" type="text">
        </div></div>
  </div>
</div>