{% extends 'main_layout.html' %}

{% block resources %}
	{% load staticfiles %}
	<script type="text/javascript" src="{% static 'jquery.toaster.js' %}"></script>
	<script type="text/javascript" src="{% static 'new-user-controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'message-element.js' %}"></script>
    <script type="text/javascript" src="{% static 'oauth.js' %}"></script>
{% endblock %}

{% block title %}
    Новый пользователь
{% endblock %}

{% block content %}
    <div class="section padding-left">
		<div class="container">
			<div class="row col-md-offset-2 form-container">
				<div class="col-md-9 vertical-block">
					<h1>Почта</h1>
					<form role="form">
						{% csrf_token %}
						<div class="form-group has-feedback">
							<label class="control-label" for="login">Логин</label>
							<input class="form-control input-lg domain" id="login" name="login" value="{{ email_id }}" placeholder="Логин" type="text" required>
							<span class="fa fa-check form-control-feedback">{{ domain }}</span>
						</div>
						<div class="form-group has-feedback">
							<label class="control-label" for="password">Пароль</label>
							<input class="form-control input-lg" id="password" name="password" value="{{ password }}" placeholder="Пароль" type="text" required>
						</div>
                        <input type="hidden" id="uid" name="uid" value="" required/>
                        <input type="hidden" id="token" name="token" value="" required/>
						<div class="row">
							<div class="col-md-6">
								<button type="button" class="btn btn-link-empty btn-lg pull-left" loader onclick="controller.createMail(event)">
									<span class="glyphicon glyphicon-envelope"></span> Создать
								</button>
							</div>
							<div class="col-md-6">
                                <div id="token-form-container"></div>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-9 vertical-block">
					<h1>
						Данные АТС
						<small>
							<a href="https://ss.zadarma.com/registration/?lang=ru" target="_blank">Создать профиль</a>
						</small>
					</h1>
					<form role="form">
						<div class="form-group">
							<label class="control-label" for="user_key">Ключ пользователя</label>
							<input class="form-control input-lg" id="user_key" name="user_key" placeholder="Ключ" type="text" required>
						</div>
						<div class="form-group">
							<label class="control-label" for="secret_key">Секретный ключ</label>
							<input class="form-control input-lg" id="secret_key" name="secret_key" placeholder="Секретный ключ" type="text" required>
						</div>
					</form>
				</div>
				<div class="col-md-9 vertical-block">
					<h1>Данные профиля</h1>
					<form role="form">
						<div class="form-group">
							<label class="control-label" for="user_email">Адрес пользователя</label>
							<input class="form-control input-lg" id="user_email" name="user_email" placeholder="E-mail" type="email" required>
						</div>
						<div class="form-group has-feedback">
							<label class="control-label" for="user_password">Пароль</label>
							<input class="form-control input-lg password" id="user_password" name="user_password" placeholder="Пароль" type="text" required>
							<span class="fa fa-check form-control-feedback glyphicon glyphicon-text-size allow-events pointer" onclick="controller.getNewPassword()" tooltip data-placement="bottom" data-original-title="Генерировать пароль"></span>
						</div>
						<div class="form-group">
							<label class="control-label" for="user_name">Имя пользователя</label>
							<input class="form-control input-lg" id="user_name" name="user_name" required placeholder="Имя" type="text">
						</div>
					</form>
				</div>
				<div class="col-md-9">
					<button type="button" class="btn btn-default btn-lg pull-right" onclick="controller.createUser()">Создать профиль</button>
				</div>
			</div>
		</div>
    </div>
{% endblock %}