{% extends 'main_layout.html' %}

{% block resources %}
	{% load staticfiles %}
	<script type="application/javascript" src="{% static "pay-controller.js" %}"></script>
	<script type="application/javascript" src="{% static "models/subscribtion-data-model.js" %}"></script>
{% endblock %}

{% block title %}
	Оплата
{% endblock %}

{% block content %}
	<div class="col-md-8 col-sm-offset-2 block-container-wt">
		<div class="block-wt">
			<div>
				<h2>Пополнить счет</h2>
			</div>
			<form class="form-horizontal" method="post" target="_blank" action="https://money.yandex.ru/eshop.xml">
				{% csrf_token %}
				<input type="hidden" name="scid" value="{{ payment_data.scid }}" />
				<input type="hidden" name="ShopID" value="{{ payment_data.shop_id }}" />
				<input type="hidden" name="CustomerNumber" value="{{ payment_data.customer_number }}" />
				<div class="row">
					<div class="col-sm-10">
						<div class="">
							<input type="text" name="Sum" value="{{ payment_data.sum }}" class="form-control input-lg" required="">
						</div>
					</div>
					<div class="col-sm-2">
						<div class="">
							<button type="submit" class="btn btn-primary margin-0">Оплатить</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}