<div class="code">
	<code>
		&lt;script type="application/javascript"&gt;<br>
		&nbsp;&nbsp;&nbsp;&nbsp;var _WT_WIDGET = {<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;wg: '{{ widget_guid }}',<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;cn: '{{ counter_number }}'<br>
		&nbsp;&nbsp;&nbsp;&nbsp;}<br>
		&lt;/script&gt;<br><br>
		&lt;script type="application/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"&gt;&lt;/script&gt;<br>
		&lt;script type="application/javascript" src="http://my.web-tel.ru/static/content/res/wt-widget.min.js"&gt;&lt;/script&gt;<br>
	</code>
</div>