{% extends 'main_layout.html' %}

{% block resources %}
	{% load staticfiles %}
	<script type="text/javascript" src="{% static "stat.js" %}"></script>
	<script type="text/javascript" src="{% static "converter.js" %}"></script>
    <script type="text/javascript" src="{% static "table.js" %}"></script>
{% endblock %}

{% block title %}
    About
{% endblock %}

{% block content %}
    <div id="calls">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>Время</th>
                    <th>Номер</th>
                    <th>Время звонка</th>
                    <th>Время разговора</th>
                    <th>Запись</th>
                </tr>
            </thead>
            <tbody id="tbody">

            </tbody>
        </table>
    </div>
{% endblock %}