<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {# -- BLOCK -- #}
    <title>
        {% block title %}

        {% endblock %}
    </title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "site.css" %}" />
	<script type="text/javascript" src="{% static "jquery-2.1.4.min.js" %}"></script>
	<script type="text/javascript" src="{% static "jquery-ajax.js" %}"></script>
	<script type="text/javascript" src="{% static "auth.js" %}"></script>
	{% block resources %}

	{% endblock %}
</head>
<body>

<div class="container body">
    {% block content %}

    {% endblock %}
</div>

{% block footer %}
<footer align="center">
    <div class="container footer" align="center">
        <span>All right reserved | <a href="/">Home</a> | <a href="../help/">Help</a></span>
    </div>
</footer>
{% endblock %}

</body>
</html>