<div style="padding: 1px 0; background-color: #1ABB9C; color: #ffffff; margin-bottom: 20px">
	<h3 style="margin: 10px 20px">Здравствуйте, уважаемый <a style="color: #ffffff;" href="http://my.web-tel.ru/">{{ username }}</a>!</h3>
</div>
<div style="margin: 0 0 20px 20px; padding-left: 20px; border-left: 5px solid #EFEFEF">
	Рады вам сообщить, что деньги которые вы нам отправляли, мы не зачислили на вас счет, а потратили на новый мерседес
	<br>
	Ваша подписка по прежнему заканчивается <strong>{{ expiration_date|date:'d.m.Y' }}</strong>
	<br>
	Положите в следующий раз побольше, нас в команде несколько а мерседес пока один :(
</div>
<div style="margin-bottom: 10px">
	С уважением, команда <a style="color: #1ABB9C" href="http://my.web-tel.ru">web-tel.ru</a>
	<br>
	Для обратной связи: <a style="color: #1ABB9C" href="mailto:help@web-tel.ru">help@web-tel.ru</a>
	<br>
</div>
<div style="font-size: 10px; color: #a0a0a0">
	***Различная нечитаемая информация мелким шрифтом...
</div>