<!DOCTYPE html>
<html ng-app="mainApp">
<head lang="en">
    <meta charset="UTF-8">
    <title ng-controller="TitleCtrl" ng-bind="title()">
        {% block title %}

        {% endblock %}
    </title>
    {% load staticfiles %}
	<script type="text/javascript" src="{% static "jquery-2.1.4.min.js" %}"></script>
    <script type="text/javascript" src="{% static "main.js" %}"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
	<script type="text/javascript" src="{% static "scripts/shared/angular-ui-grid.3.1.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap-datepicker.min.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap-datepicker.ru.min.js" %}"></script>
	<script type="text/javascript" src="{% static "scripts/shared/angular-animate.min.js" %}"></script>
	<script type="text/javascript" src="{% static "scripts/shared/angular-ui-router-0.2.15.min.js" %}"></script>
	<script type="text/javascript" src="{% static "scripts/shared/angular-loading-bar.js" %}"></script>
	<script type="text/javascript" src="{% static "scripts/ng-app/module.js" %}"></script>
	<script type="text/javascript" src="{% static "scripts/ng-app/services/title-service.js" %}"></script>
	<script type="text/javascript" src="{% static "scripts/ng-app/services/api-service.js" %}"></script>
	<script type="text/javascript" src="{% static "scripts/ng-app/controllers/title-controller.js" %}"></script>
	<script type="text/javascript" src="{% static "scripts/ng-app/controllers/uiview-controller.js" %}"></script>
	<script type="text/javascript" src="{% static "scripts/ng-app/controllers/statistic-controller.js" %}"></script>
    <script type="text/javascript" src="{% static "switcher.js" %}"></script>
	<script type="text/javascript" src="{% static "audio.js" %}"></script>
	<script type="text/javascript" src="{% static "jquery-webui-popover.js" %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static "ng-frittt/bootstrap.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "ng-frittt/site.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "ng-frittt/customize.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'ng-frittt/varaibles.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'ng-frittt/icons.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'ng-frittt/angular-loading-bar.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'loader.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'messager.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static "ng-frittt/switcher.css" %}">
	<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap-datepicker3.standalone.min.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "frittt/webui-popover.css" %}">

	<link rel="icon" type="image/png" href="{% static 'images/favicon.ico' %}">

	<!-- Yandex.Metrika counter -->
	<script type="text/javascript">
	(function (d, w, c) {
	    (w[c] = w[c] || []).push(function() {
	        try {
	            w.yaCounter35424910 = new Ya.Metrika({id:35424910,
	                    webvisor:true,
	                    clickmap:true,
	                    trackLinks:true,
	                    accurateTrackBounce:true});
	        } catch(e) { }
	    });

	    var n = d.getElementsByTagName("script")[0],
	        s = d.createElement("script"),
	        f = function () { n.parentNode.insertBefore(s, n); };
	    s.type = "text/javascript";
	    s.async = true;
	    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

	    if (w.opera == "[object Opera]") {
	        d.addEventListener("DOMContentLoaded", f, false);
	    } else { f(); }
	})(document, window, "yandex_metrika_callbacks");
	</script>
	<noscript><div><img src="//mc.yandex.ru/watch/35424910" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->

	{% block resources %}

	{% endblock %}
</head>

<body ui-view>

</body>
</html>