{% extends 'main_layout.html' %}

{% block resources %}
	{% load staticfiles %}
	<script type="text/javascript" src="{% static 'new-user-controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'oauth.js' %}"></script>
	<script type="text/javascript" src="{% static 'models/mail-model.js' %}"></script>
	<script type="text/javascript" src="{% static 'models/new-user-model.js' %}"></script>
{% endblock %}

{% block title %}
    Новый пользователь
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row col-md-offset-2 form-container">
			<div class="col-md-9 form-block">
				<h1>
					Почта
					<small>
						<a class="shadow-link icon-spinner11 pointer" onclick="controller.getMailboxData()"></a>
					</small>
				</h1>
				<form role="form">
					{% csrf_token %}
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label class="control-label" for="login">Логин</label>
								<input class="form-control input-lg domain" id="login" name="login" placeholder="Логин" type="text" required autocomplete="off">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label class="control-label" for="password">Пароль</label>
								<input class="form-control input-lg" id="password" name="password" placeholder="Пароль" type="text" required autocomplete="off">
							</div>
						</div>
					</div>
                    <input type="hidden" id="uid" name="uid" value="" required/>
                    <input type="hidden" id="token" name="token" value="" required/>
					<div class="row">
						<div class="col-sm-6">
							<button type="button" class="btn btn-link-empty btn-lg pull-left" onclick="controller.createMail(event)">Создать</button>
							<div id="token-form-container">
								<span id="oauth-get-new-code" class="form-control-feedback icon-spinner11 input-icon pointer pull-right" tooltip data-placement="bottom" data-original-title="Получить доступ"></span>
								<span id="oauth-send-code" class="form-control-feedback icon-arrow-right2 input-icon pointer pull-right" tooltip data-placement="bottom" data-original-title="Получить токен"></span>
		                        <input id="oauth-code" class="form-control input-lg has-icon-2" type="text" placeholder="Код" value="" autocomplete="off">
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="col-md-9 form-block">
				<h1>
					Данные АТС
					<small>
						<a class="shadow-link" href="https://ss.zadarma.com/registration/?lang=ru&ref=aa0b36c330a52f8f42aae33496717f06" target="_blank">Создать профиль</a>
					</small>
				</h1>
				<form role="form">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label class="control-label" for="userKey">Ключ пользователя</label>
								<input class="required-field form-control input-lg" id="userKey" name="user_key" placeholder="Ключ" type="text" required autocomplete="off">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label class="control-label" for="secretKey">Секретный ключ</label>
								<input class="form-control input-lg" id="secretKey" name="secret_key" placeholder="Секретный ключ" type="text" required autocomplete="off">
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="col-md-9 form-block">
				<h1>Данные профиля</h1>
				<form role="form">
					<div class="form-group">
						<label class="control-label" for="userEmail">Адрес пользователя</label>
						<input class="form-control input-lg" id="userEmail" name="user_email" placeholder="E-mail" type="email" required autocomplete="off">
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label class="control-label" for="userName">Имя пользователя</label>
								<input class="form-control input-lg" id="userName" name="user_name" required placeholder="Имя" type="text" autocomplete="off">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group has-feedback">
								<label class="control-label" for="userPassword">Пароль</label>
								<span class="form-control-feedback icon-spinner11 input-icon offset-top-inverse-3 pointer pull-right" onclick="controller.getNewPassword()" tooltip data-placement="bottom" data-original-title="Генерировать пароль"></span>
								<input class="form-control input-lg has-icon" id="userPassword" name="user_password" placeholder="Пароль" type="text" required autocomplete="off">
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="col-md-9">
				<button type="button" class="btn btn-default btn-lg pull-right" onclick="controller.createUser()">Создать профиль</button>
			</div>
		</div>
	</div>
{% endblock %}