<table class="table table-striped table-hover tablesorter" data-load-content-url="/admin/getTransacts/{{ transact_type }}/">
	<thead>
		<tr>
			<th style="min-width: 88px">Клиент</th>
			<th style="min-width: 52px">Сумма</th>
			<th style="min-width: 28px">Тип</th>
			<th style="min-width: 41px">Срок</th>
			<th style="min-width: 298px">Номер транзакции</th>
			<th style="min-width: 144px">Дата создания</th>
			<th style="min-width: 84px"></th>
		</tr>
	</thead>
	<tbody>
    {% if not transacts %}
        <tr>
	        <td colspan="7" align="center">Нет новых транзакций</td>
        </tr>
    {% else %}
        {% for transact in transacts %}
			<tr data-transact-id="{{ transact.transact_id }}">
				<td>{{ transact.username }}</td>
				<td>{{ transact.sum }}</td>
				<td>{% if transact.payment_type == 'AC' %}<img class="credit-card-icon" src="/static/content/images/credit_card.png">{% elif transact.payment_type == 'PC' %}<img class="yandex-icon" src="/static/content/images/yandex.png">{% else %}???{% endif %}</td>
				<td>{{ transact.duration }}</td>
				<td allow-search>{{ transact.transact_id }}</td>
				<td>{{ transact.creation_date|date:'d.m.Y H.i.s' }}</td>
				<td onclick="transact.executeAction(event)">
					<button class="btn btn-xs-wt btn-default" data-action-id="1"><span class="icon-checkmark"></span></button>
					<button class="btn btn-xs-wt btn-danger-wt" data-action-id="2"><span class="icon-cross"></span></button>
					<button class="btn btn-xs-wt btn-warning-wt" data-action-id="3"><span class="icon-books"></span></button>
				</td>
			</tr>
		{% endfor %}
	{% endif %}
	</tbody>
	{% include 'table_footer.html' %}
</table>
